# Ignore Python cache files
__pycache__/

# Ignore virtual environment directories
venv/

# Ignore log files
*.log

# Ignore downloaded package files
*.deb

# Ignore pytest cache files
.pytest_cache/

# Ignore test output files
test_output/
