beautifulsoup4
requests
nltk
spacy==3.0.0
sumy
googlesearch-python
flake8
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
pydantic==1.7.4
pytest
